/* css reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #D4C5E2;
}

footer {
	width: 100%;
	padding: 20px 0;
	background:yellow;
	position: relative;
	text-align: center;
	color: red;
}

#content_area {
			float: left;
			width: 75%;
			padding: 10px;
		}
#sidebar {
			float: right;
			width: 25%;
			height: 400px;
			padding: 10px;
			border: 2px solid #e3e3e3;
		}
