/* CSS Reset*/
* {
	margin: 0; /*important*/
	padding: 0; /*important*/
	box-sizing: border-box; /* To make the website fluid*/
}

body {
	background-color: lightgrey;
}

.wrapper {
	background-color: #fff;
	width: 80%; /* to center the container must always have widht and margin define*/
	margin: 0 auto; /*center the container*/
}

/*
*
*Block Elements
*
*/

h1,
p {
	background-color: lightblue;
}

h1	{
	padding:50px; /*value of top, bottom, left  and right is 50 shorthand*/
	/*padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px; setting each padding to a default value*/
	/*padding: 10px 20px; top=bottom, left=right */
	/*padding:10px 20px;  default value is top, right, bottom, left*/
	/*border:1px solid #566063;-top shorthand */
	border-top:1px solid #566063;
	border-right:1px solid #566063;
	border-bottom:1px solid #566063;
	border-left:1px solid #566063;

	
}

p {
	padding:20px 0 20px 10px;
	margin-bottom: 50px; 

}

/*
*
*inline types
*
*
*/

em,
strong {
	background-color: yellow;
	/*display: block; can be modify to become a block type but default is inline*/ 
}

strong {
	/*padding: 50px;
	margin:50px;*/
}

/*
*
*
*Generib Boxes (div and span)
*
*/

/*box type container*/
div {

	background-color: skyblue;
	padding:20px;
	text-align:center;
	border: 2px solid #5d6063;
	border-radius: 5px;
	width: 50%;

}

/*inline type container*/

span {
	font-size: 2em; /*1 em = 16px by default*/
	color: red;

}

button {
	padding: 20px 30px;
	border: 1px solid #000;
	background-color: blue;
	color: white;
	border-radius: 5px;
	margin: 0 auto;
	display: block; /* inline type by default*/
}